<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Jovial Landing</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Dosis:300,400|Roboto:100,300,900"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.6/jquery.fancybox.css"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav id="mainNavbar" class="navbar navbar-expand-lg navbar-light fixed-top">
      <a id="home" class="navbar-brand" href="#">e</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navLinks"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navLinks">
        <ul class="navbar-nav mr-auto mx-auto">
          <li class="nav-item">
            <a class="nav-link paintings" id="paintings" href="#">Paintings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link drawings" id="drawings" href="#">Drawings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link studies" id="studies" href="#">Studies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="estore" href="#">eStore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="blog" href="http://www.google.com">Blog</a>
          </li>
        </ul>
      </div>
    </nav>
    <div id="homePage" class="container">
      <div class="row">
        <div class="col-12">
          <img id="splashImage" src="../imgs/home/four_worlds.jpg" />
          <h1>edgar cuarezma</h1>
          <h3>fine art illustration</h3>
        </div>
      </div>
    </div>
    <!-- ///PAINTINGS PAGE/// -->
    <div id="paintingsPage" class="container">
      <div class="row">
        <div class="col-xl-4 col-md-6 my-3">
          <div class="card">
            <a href="/imgs/paintings/img2.jpg" data-fancybox="images">
              <img class="img-fluid" src="/imgs/paintings/img2.jpg" />
            </a>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 my-3">
          <div class="card">
            <a href="/imgs/paintings/img4.jpg" data-fancybox="images">
              <img class="img-fluid" src="/imgs/paintings/img4.jpg" />
            </a>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 my-3">
          <div class="card">
            <a href="/imgs/paintings/img6.jpg" data-fancybox="images">
              <img class="img-fluid" src="/imgs/paintings/img6.jpg" />
            </a>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 my-3">
          <div class="card">
            <a href="/imgs/paintings/img7.jpg" data-fancybox="images">
              <img class="img-fluid" src="/imgs/paintings/img7.jpg" />
            </a>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 my-3">
          <div class="card">
            <a href="/imgs/paintings/img8.jpg" data-fancybox="images">
              <img class="img-fluid" src="/imgs/paintings/img8.jpg" />
            </a>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 my-3">
          <div class="card">
            <a href="/imgs/paintings/img9.jpg" data-fancybox="images">
              <img class="img-fluid" src="/imgs/paintings/img9.jpg" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- ///DRAWINGS PAGE/// -->
    <div id="drawingsPage" class="container">
      <div class="row">
        <div class="col-xl-4 col-md-6 my-3">
          <div class="card">
            <a href="/imgs/drawings/img2.jpg" data-fancybox="images">
              <img class="img-fluid" src="/imgs/drawings/img2.jpg" />
            </a>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 my-3">
          <div class="card">
            <a href="/imgs/drawings/img3.jpg" data-fancybox="images">
              <img class="img-fluid" src="/imgs/drawings/img3.jpg" />
            </a>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 my-3">
          <div class="card">
            <a href="/imgs/drawings/img4.jpg" data-fancybox="images">
              <img class="img-fluid" src="/imgs/drawings/img4.jpg" />
            </a>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 my-3">
          <div class="card">
            <a href="/imgs/drawings/img5.jpg" data-fancybox="images">
              <img class="img-fluid" src="/imgs/drawings/img5.jpg" />
            </a>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 my-3">
          <div class="card">
            <a href="/imgs/drawings/img6.jpg" data-fancybox="images">
              <img class="img-fluid" src="/imgs/drawings/img6.jpg" />
            </a>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 my-3">
          <div class="card">
            <a href="/imgs/drawings/img7.jpg" data-fancybox="images">
              <img class="img-fluid" src="/imgs/drawings/img7.jpg" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- ///STUDIES PAGE/// -->
    <div id="studiesPage" class="container">
      <div class="row">
        <div class="col-xl-4 col-md-6 my-3">
          <div class="card">
            <a href="/imgs/studies/img2.jpg" data-fancybox="images">
              <img class="img-fluid" src="/imgs/studies/img2.jpg" />
            </a>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 my-3">
          <div class="card">
            <a href="/imgs/studies/img3.jpg" data-fancybox="images">
              <img class="img-fluid" src="/imgs/studies/img3.jpg" />
            </a>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 my-3">
          <div class="card">
            <a href="/imgs/studies/img4.jpg" data-fancybox="images">
              <img class="img-fluid" src="/imgs/studies/img4.jpg" />
            </a>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 my-3">
          <div class="card">
            <a href="/imgs/studies/img8.jpg" data-fancybox="images">
              <img class="img-fluid" src="/imgs/studies/img8.jpg" />
            </a>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 my-3">
          <div class="card">
            <a href="/imgs/studies/img9.jpg" data-fancybox="images">
              <img class="img-fluid" src="/imgs/studies/img9.jpg" />
            </a>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 my-3">
          <div class="card">
            <a href="/imgs/studies/img10.jpg" data-fancybox="images">
              <img class="img-fluid" src="/imgs/studies/img10.jpg" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.6/jquery.fancybox.js"
    ></script>
    <script type="text/javascript" src="../scripts/script.js"></script>
  </body>
</html>
